# fly.toml app configuration file generated for universal-fly-deployer
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "universal-fly-deployer" # Note: You will likely need to change this to a unique name via 'fly launch'
primary_region = "iad"

[build]
  dockerfile = "Dockerfile.txt"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024 # Allocated 1GB RAM to handle git cloning and analysis smoothly